<% layout("/layouts/boilerplate") %>

<body>
    
    <form method="post" action="/listing/<%=listings._id%>?_method=PUT" class="needs-validation" novalidate>
        <div class="row">
           <div class="col-8 offset-2">
            <h3>Edit your listing</h3>
            <div>
                <label for="" class="form-label">Title</label>
                <input type="text" value="<%=listings.title%>" name="list[title]" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a title.
                  </div>
            </div>
            <div>
                <label for="" class="form-label">Description</label>
            <textarea name="list[description]"  class="form-control" required><%=listings.description%></textarea>
            <div class="invalid-feedback">
                Please enter small description.
              </div>
        </div>
            <div>
                <label for="" class="form-label">Image Url/link</label>
            <input type="text" value="<%=listings.image%>" name="list[image]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter valid image url.
              </div>
            </div>
            <div class="row">
            <div class="col-md-4 col-sm-8">
                <label for="" class="form-label">Price</label>
            <input type="text" value="<%=listings.price%>" name="list[price]" class="form-control" required>
            <div class="invalid-feedback">
                Please ener valid price.
              </div>
        </div>
            <div class="col-md-8 col-sm-8">
                <label for="" class="form-label">Country</label>
            <input type="text" value="<%=listings.country%>" name="list[country]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter country.
              </div>
        </div>
        </div>
            <div>
                <label for="" class="form-label">Location</label>
            <input type="text" value="<%=listings.location%>" name="list[location]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a location.
              </div>
        </div>
            <div>
            <button class="btn btn-dark add">edit</button>
            </div>
          </div>  
        </div>    
    </form>
</body>
